.first-row-bg-color {
    background-color: #EEEEEE;
}
.center {
    text-align: center;
}
.form-width {
    width: 284px;
}
#deneme1 {
    background-color: #7EE5DA;   
}
#deneme2 {
    background-color:#70CCC2;
}
#deneme3 {
    background-color: #62B3AA;
}
.fs-1 {
    font-size: -1;
}